
<div class="tab">
  <button class="tablinks" (click)="openTab(event, 'vehicle')">Pojazd</button>
  <button class="tablinks" (click)="openTab(event, 'costs')">Koszty</button>
  <button class="tablinks" (click)="openTab(event, 'orders')">Zamówienia</button>
</div>
<div id="vehicle" class="tabcontent">
    <h3>Pojazd</h3>
    <p>London is the capital city of England.</p>
  </div>
  
  <div id="costs" class="tabcontent">
    <h3>Koszty</h3>
    <button type="button" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i>Dodaj Koszt</button>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="orders" class="tabcontent">
    <h3>Zamówienia</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
  <p>test</p>